# Python cache dosyaları

**pycache**/
_.py[cod]
_$py.class

# Sanal ortamlar

venv/
env/
.venv/
.env/

# Python paketleri

_.egg-info/
_.egg
dist/
build/
\*.wheel

# IDE ve editor dosyaları

.vscode/
.idea/
_.sublime-project
_.sublime-workspace

# Log dosyaları

\*.log

# Git ve versiyon kontrolü

.git/
.gitignore

# Docker ve OS geçici dosyaları

.DS_Store
docker-compose.override.yml
